Source: log4qt
Section: libs
Priority: optional
Maintainer: Kylin Team <team+kylin@tracker.debian.org>
Uploaders: Yang Min <yangmin@kylinos.cn>
Build-Depends: debhelper-compat (=12),
               qt5-qmake,
               qtbase5-dev,
               qtbase5-dev-tools,
               qtbase5-private-dev,
               libgsettings-qt-dev
Standards-Version: 4.5.1
Rules-Requires-Root: no
Homepage: https://sourceforge.net/projects/log4qt/files/
Vcs-Git:  https://github.com/devbean/log4qt.git
Vcs-Browser:  https://github.com/devbean/log4qt

Package: libukui-log4qt-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Development files for the Log4Qt library
 Log4Qt is a C++ port of the Apache Software Foundation 
 Log4j package using the Trolltech Qt Framework.
