Source: ukui-interface
Section: libs
Priority: optional
Maintainer: Kylin Team <team+kylin@tracker.debian.org>
Uploaders: handsome_feng <jianfengli@ubuntukylin.com>
Build-Depends: debhelper-compat (=12),
               libglib2.0-dev (>= 2.36),
               autoconf,
               automake,
               libtool,
               qtbase5-dev
Standards-Version: 4.4.1
Homepage: https://github.com/ukui/ukui-interface
Vcs-Browser: https://github.com/ukui/ukui-interface
Vcs-Git: https://github.com/ukui/ukui-interface.git

Package: libprint0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: print module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains print libraries.

Package: libprint-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libprint0 (= ${binary:Version})
Description: print interface
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for printing.

Package: libgsettings0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: application settings module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains application settings libraries.

Package: libgsettings-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
	${misc:Depends},
	libgsettings0 (= ${binary:Version})
Description: application settings interface
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for application settings.

Package: backgroundserver
Architecture: any
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libprint0 (= ${binary:Version}),
        libgsettings0 (= ${binary:Version})
Description: background settings service process
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains background settings service process.

Package: libbackgroundclient0
Architecture: any
Depends: ${shlibs:Depends},
	${misc:Depends},
	libprint0 (= ${binary:Version}),
	libgsettings0 (= ${binary:Version}),
	backgroundserver (= ${binary:Version})
Description: background settings module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains background settings libraries.

Package: libbackgroundclient-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
	${misc:Depends},
	libbackgroundclient0 (= ${binary:Version})
Description: background settings interfaces
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for background settings.

Package: libdatesetting0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: date settings module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains date settings libraries.

Package: libdatesetting-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libdatesetting0 (= ${binary:Version})
Description: date settings interfaces
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for date settings.

Package: libdefaultprograms0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: default programs settings module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains default programs settings libraries.

Package: libdefaultprograms-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libdefaultprograms0 (= ${binary:Version})
Description: default programs settings interfaces
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for default programs settings.

Package: desktopserver
Architecture: any
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libprint0 (= ${binary:Version}),
        libgsettings0 (= ${binary:Version})
Description: desktop settings service process
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains desktop settings service process.

Package: libdesktopclient0
Architecture: any
Depends: ${shlibs:Depends},
	${misc:Depends},
	libprint0 (= ${binary:Version}),
	libgsettings0 (= ${binary:Version}),
	desktopserver (= ${binary:Version})
Description: desktop settings module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains desktop settings libraries.

Package: libdesktopclient-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libdesktopclient0 (= ${binary:Version})
Description: desktop settings interfaces
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for desktop settings.

Package: fontserver
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
        libprint0 (= ${binary:Version}),
        libgsettings0 (= ${binary:Version})
Description: font settings service process
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains font settings service process.

Package: libfontclient0
Architecture: any
Depends: ${shlibs:Depends},
	 ${misc:Depends},
	libprint0 (= ${binary:Version}),
	libgsettings0 (= ${binary:Version}),
	fontserver (= ${binary:Version})
Description: font settings module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains font settings libraries.

Package: libfontclient-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libfontclient0 (= ${binary:Version})
Description: font settings interfaces
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for font settings.

Package: interfaceserver
Architecture: any
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libprint0 (= ${binary:Version}),
        libgsettings0 (= ${binary:Version})
Description: interface settings service process
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains interface settings service process.

Package: libinterfaceclient0
Architecture: any
Depends: ${shlibs:Depends},
	${misc:Depends},
	libprint0 (= ${binary:Version}),
	libgsettings0 (= ${binary:Version}),
	interfaceserver (= ${binary:Version})
Description: interface settings module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains interface settings libraries.

Package: libinterfaceclient-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libinterfaceclient0 (= ${binary:Version})
Description: interface settings interfaces
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for interface settings.

Package: keyboardserver
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
        libprint0 (= ${binary:Version}),
        libgsettings0 (= ${binary:Version})
Description: keyboard settings service process.
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains keyboard settings service process.

Package: libkeyboardclient0
Architecture: any
Depends: ${shlibs:Depends},
	 ${misc:Depends},
	libprint0 (= ${binary:Version}),
	libgsettings0 (= ${binary:Version}),
	keyboardserver (= ${binary:Version})
Description: keyboard settings module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains keyboard settings libraries.

Package: libkeyboardclient-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libkeyboardclient0 (= ${binary:Version})
Description: keyboard settings interfaces
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for keyboard settings.

Package: marcogeneralserver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: marcogeneral settings service process
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains marcogeneral settings service process.

Package: libmarcogeneralclient0
Architecture: any
Depends: ${shlibs:Depends},
	${misc:Depends},
	marcogeneralserver (= ${binary:Version})
Description: marcogeneral settings module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains marcogeneral settings libraries.

Package: libmarcogeneralclient-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libmarcogeneralclient0 (= ${binary:Version})
Description: marcogeneral settings interfaces
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for marcogeneral settings.

Package: mouseserver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: mouse settings service process
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains mouse settings service process.

Package: libmouseclient0
Architecture: any
Depends: ${shlibs:Depends},
	${misc:Depends},
	mouseserver (= ${binary:Version})
Description: mouse settings module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains mouse settings libraries.

Package: libmouseclient-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libmouseclient0 (= ${binary:Version})
Description: mouse settings interfaces
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for mouse settings.

Package: libnetwork0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: network settings module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains network settings libraries.

Package: libnetwork-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libnetwork0 (= ${binary:Version})
Description: network settings interfaces
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for network settings.

Package: powerserver
Architecture: any
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libprint0 (= ${binary:Version}),
        libgsettings0 (= ${binary:Version})
Description: power settings service process
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains power settings service process.

Package: libpowerclient0
Architecture: any
Depends: ${shlibs:Depends},
	${misc:Depends},
	libprint0 (= ${binary:Version}),
	libgsettings0 (= ${binary:Version}),
	powerserver (= ${binary:Version})
Description: power settings module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains power settings libraries.

Package: libpowerclient-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libpowerclient0 (= ${binary:Version})
Description: power settings interfaces
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for power settings.

Package: screensaverserver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: screensaver settings service process
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains screensaver settings service process.

Package: libscreensaverclient0
Architecture: any
Depends: ${shlibs:Depends},
	${misc:Depends},
	screensaverserver (= ${binary:Version})
Description: screensaver settings module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains screensaver settings libraries.

Package: libscreensaverclient-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libscreensaverclient0 (= ${binary:Version})
Description: screensaver settings interfaces
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for screensaver settings.

Package: sessionserver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: session settings service process
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains session settings service process.

Package: libsessionclient0
Architecture: any
Depends: ${shlibs:Depends},
	${misc:Depends},
	sessionserver (= ${binary:Version})
Description: session settings module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains session settings libraries.

Package: libsessionclient-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libsessionclient0 (= ${binary:Version})
Description: session settings interfaces
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for session settings.

Package: libsubversion0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Subversion check module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains Subversion check libraries.

Package: libsubversion-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libsubversion0 (= ${binary:Version})
Description: Subversion check interfaces
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for Subversion check.

Package: libsysinfo0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: system information gettings module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains system information gettings libraries.

Package: libsysinfo-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libsysinfo0 (= ${binary:Version})
Description: system information gettings interfaces
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for system information gettings.

Package: touchpadserver
Architecture: any
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libprint0 (= ${binary:Version}),
        libgsettings0 (= ${binary:Version})
Description: touchpad settings service process
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains touchpad settings service process.

Package: libtouchpadclient0
Architecture: any
Depends: ${shlibs:Depends},
	${misc:Depends},
	libprint0 (= ${binary:Version}),
	libgsettings0 (= ${binary:Version}),
	touchpadserver (= ${binary:Version})
Description: touchpad settings module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains touchpad settings libraries.

Package: libtouchpadclient-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libtouchpadclient0 (= ${binary:Version})
Description: touchpad settings interfaces
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for touchpad settings.

Package: libusersetting0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: user settings module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains user settings libraries.

Package: libusersetting-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libusersetting0 (= ${binary:Version})
Description: user settings interfaces
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for user settings.

Package: xkbgeneralserver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: xkbgeneral settings service process
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains xkbgeneral settings service process.

Package: libxkbgeneralclient0
Architecture: any
Depends: ${shlibs:Depends},
	${misc:Depends},
	xkbgeneralserver (= ${binary:Version})
Description: xkbgeneral settings module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains xkbgeneral settings libraries.

Package: libxkbgeneralclient-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libxkbgeneralclient0 (= ${binary:Version})
Description: xkbgeneral settings interfaces
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for xkbgeneral settings.
