Source: ukui-interface
Section: libs
Priority: optional
Maintainer: Kylin Team <team+kylin@tracker.debian.org>
Uploaders: handsome_feng <jianfengli@ubuntukylin.com>
Build-Depends: debhelper-compat (=12),
               libglib2.0-dev (>= 2.36),
               autoconf,
               automake,
               libtool,
               qtbase5-dev,
               libgsettings-qt-dev,
               qttools5-dev-tools
Standards-Version: 4.5.0
Rules-Requires-Root: no
Homepage: https://github.com/ukui/ukui-interface
Vcs-Browser: https://github.com/ukui/ukui-interface
Vcs-Git: https://github.com/ukui/ukui-interface.git

Package: libukui-print0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: print module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains print libraries.

Package: libukui-print-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libukui-print0 (= ${binary:Version})
Description: print interface
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for printing.

Package: libukui-gsettings0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: application settings module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains application settings libraries.

Package: libukui-gsettings-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
	${misc:Depends},
	libukui-gsettings0 (= ${binary:Version})
Description: application settings interface
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for application settings.

Package: ukui-backgroundserver
Architecture: any
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libukui-print0 (= ${binary:Version}),
        libukui-gsettings0 (= ${binary:Version})
Description: background settings service process
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains background settings service process.

Package: libukui-backgroundclient0
Architecture: any
Depends: ${shlibs:Depends},
	${misc:Depends},
	libukui-print0 (= ${binary:Version}),
	libukui-gsettings0 (= ${binary:Version}),
	ukui-backgroundserver (= ${binary:Version})
Description: background settings module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains background settings libraries.

Package: libukui-backgroundclient-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
	${misc:Depends},
	libukui-backgroundclient0 (= ${binary:Version})
Description: background settings interfaces
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for background settings.

Package: libukui-datesetting0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: date settings module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains date settings libraries.

Package: libukui-datesetting-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libukui-datesetting0 (= ${binary:Version})
Description: date settings interfaces
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for date settings.

Package: libukui-defaultprograms0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: default programs settings module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains default programs settings libraries.

Package: libukui-defaultprograms-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libukui-defaultprograms0 (= ${binary:Version})
Description: default programs settings interfaces
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for default programs settings.

Package: ukui-desktopserver
Architecture: any
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libukui-print0 (= ${binary:Version}),
        libukui-gsettings0 (= ${binary:Version})
Description: desktop settings service process
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains desktop settings service process.

Package: libukui-desktopclient0
Architecture: any
Depends: ${shlibs:Depends},
	${misc:Depends},
	libukui-print0 (= ${binary:Version}),
	libukui-gsettings0 (= ${binary:Version}),
	ukui-desktopserver (= ${binary:Version})
Description: desktop settings module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains desktop settings libraries.

Package: libukui-desktopclient-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libukui-desktopclient0 (= ${binary:Version})
Description: desktop settings interfaces
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for desktop settings.

Package: ukui-fontserver
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
        libukui-print0 (= ${binary:Version}),
        libukui-gsettings0 (= ${binary:Version})
Description: font settings service process
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains font settings service process.

Package: libukui-fontclient0
Architecture: any
Depends: ${shlibs:Depends},
	 ${misc:Depends},
	libukui-print0 (= ${binary:Version}),
	libukui-gsettings0 (= ${binary:Version}),
	ukui-fontserver (= ${binary:Version})
Description: font settings module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains font settings libraries.

Package: libukui-fontclient-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libukui-fontclient0 (= ${binary:Version})
Description: font settings interfaces
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for font settings.

Package: ukui-interfaceserver
Architecture: any
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libukui-print0 (= ${binary:Version}),
        libukui-gsettings0 (= ${binary:Version})
Description: interface settings service process
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains interface settings service process.

Package: libukui-interfaceclient0
Architecture: any
Depends: ${shlibs:Depends},
	${misc:Depends},
	libukui-print0 (= ${binary:Version}),
	libukui-gsettings0 (= ${binary:Version}),
	ukui-interfaceserver (= ${binary:Version})
Description: interface settings module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains interface settings libraries.

Package: libukui-interfaceclient-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libukui-interfaceclient0 (= ${binary:Version})
Description: interface settings interfaces
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for interface settings.

Package: ukui-keyboardserver
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
        libukui-print0 (= ${binary:Version}),
        libukui-gsettings0 (= ${binary:Version})
Description: keyboard settings service process
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains keyboard settings service process.

Package: libukui-keyboardclient0
Architecture: any
Depends: ${shlibs:Depends},
	 ${misc:Depends},
	libukui-print0 (= ${binary:Version}),
	libukui-gsettings0 (= ${binary:Version}),
	ukui-keyboardserver (= ${binary:Version})
Description: keyboard settings module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains keyboard settings libraries.

Package: libukui-keyboardclient-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libukui-keyboardclient0 (= ${binary:Version})
Description: keyboard settings interfaces
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for keyboard settings.

Package: ukui-marcogeneralserver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: marcogeneral settings service process
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains marcogeneral settings service process.

Package: libukui-marcogeneralclient0
Architecture: any
Depends: ${shlibs:Depends},
	${misc:Depends},
	ukui-marcogeneralserver (= ${binary:Version})
Description: marcogeneral settings module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains marcogeneral settings libraries.

Package: libukui-marcogeneralclient-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libukui-marcogeneralclient0 (= ${binary:Version})
Description: marcogeneral settings interfaces
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for marcogeneral settings.

Package: ukui-mouseserver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: mouse settings service process
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains mouse settings service process.

Package: libukui-mouseclient0
Architecture: any
Depends: ${shlibs:Depends},
	${misc:Depends},
	ukui-mouseserver (= ${binary:Version})
Description: mouse settings module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains mouse settings libraries.

Package: libukui-mouseclient-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libukui-mouseclient0 (= ${binary:Version})
Description: mouse settings interfaces
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for mouse settings.

Package: libukui-network0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: network settings module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains network settings libraries.

Package: libukui-network-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libukui-network0 (= ${binary:Version})
Description: network settings interfaces
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for network settings.

Package: ukui-powerserver
Architecture: any
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libukui-print0 (= ${binary:Version}),
        libukui-gsettings0 (= ${binary:Version})
Description: power settings service process
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains power settings service process.

Package: libukui-powerclient0
Architecture: any
Depends: ${shlibs:Depends},
	${misc:Depends},
	libukui-print0 (= ${binary:Version}),
	libukui-gsettings0 (= ${binary:Version}),
	ukui-powerserver (= ${binary:Version})
Description: power settings module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains power settings libraries.

Package: libukui-powerclient-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libukui-powerclient0 (= ${binary:Version})
Description: power settings interfaces
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for power settings.

Package: ukui-screensaverserver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: screensaver settings service process
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains screensaver settings service process.

Package: libukui-screensaverclient0
Architecture: any
Depends: ${shlibs:Depends},
	${misc:Depends},
	ukui-screensaverserver (= ${binary:Version})
Description: screensaver settings module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains screensaver settings libraries.

Package: libukui-screensaverclient-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libukui-screensaverclient0 (= ${binary:Version})
Description: screensaver settings interfaces
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for screensaver settings.

Package: ukui-sessionserver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: session settings service process
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains session settings service process.

Package: libukui-sessionclient0
Architecture: any
Depends: ${shlibs:Depends},
	${misc:Depends},
	ukui-sessionserver (= ${binary:Version})
Description: session settings module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains session settings libraries.

Package: libukui-sessionclient-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libukui-sessionclient0 (= ${binary:Version})
Description: session settings interfaces
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for session settings.

Package: libukui-subversion0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Subversion check module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains Subversion check libraries.

Package: libukui-subversion-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libukui-subversion0 (= ${binary:Version})
Description: Subversion check interfaces
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for Subversion check.

Package: libukui-sysinfo0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: system information gettings module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains system information gettings libraries.

Package: libukui-sysinfo-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libukui-sysinfo0 (= ${binary:Version})
Description: system information gettings interfaces
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for system information gettings.

Package: ukui-touchpadserver
Architecture: any
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libukui-print0 (= ${binary:Version}),
        libukui-gsettings0 (= ${binary:Version})
Description: touchpad settings service process
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains touchpad settings service process.

Package: libukui-touchpadclient0
Architecture: any
Depends: ${shlibs:Depends},
	${misc:Depends},
	libukui-print0 (= ${binary:Version}),
	libukui-gsettings0 (= ${binary:Version}),
	ukui-touchpadserver (= ${binary:Version})
Description: touchpad settings module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains touchpad settings libraries.

Package: libukui-touchpadclient-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libukui-touchpadclient0 (= ${binary:Version})
Description: touchpad settings interfaces
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for touchpad settings.

Package: libukui-usersetting0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: user settings module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains user settings libraries.

Package: libukui-usersetting-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libukui-usersetting0 (= ${binary:Version})
Description: user settings interfaces
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for user settings.

Package: ukui-xkbgeneralserver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: xkbgeneral settings service process
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains xkbgeneral settings service process.

Package: libukui-xkbgeneralclient0
Architecture: any
Depends: ${shlibs:Depends},
	${misc:Depends},
	ukui-xkbgeneralserver (= ${binary:Version})
Description: xkbgeneral settings module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains xkbgeneral settings libraries.

Package: libukui-xkbgeneralclient-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
        ${misc:Depends},
        libukui-xkbgeneralclient0 (= ${binary:Version})
Description: xkbgeneral settings interfaces
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for xkbgeneral settings.

Package: libukui-log4qt0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libglib2.0-bin
Description: log4qt module
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains log4qt libraries.

Package: libukui-log4qt-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libukui-log4qt0 (= ${binary:Version}),
         libglib2.0-bin
Description: log4qt interface
 UKUI interface provides the interface for system configuration
 and related libraries.
 .
 The package contains development files for qt logging.
