[Unit]
Description=background
Documentation=man:systemd.special(7)

[Service]
Type=dbus
BusName=cn.kylinos.background
ExecStart=/usr/lib/ukui-interface/backgroundserver
PrivateTmp=yes

[Install]
WantedBy=graphical.target
