[Unit]
Description=font-rendering
Documentation=man:systemd.special(7)

[Service]
Type=dbus
BusName=cn.kylinos.font
ExecStart=/usr/bin/fontserver
PrivateTmp=yes

[Install]
WantedBy=graphical.target
