[Unit]
Description=screensaver
Documentation=man:systemd.special(7)

[Service]
Type=dbus
BusName=cn.kylinos.screensaver
ExecStart=/usr/lib/ukui-interface/screensaverserver
PrivateTmp=yes

[Install]
WantedBy=graphical.target
