[Unit]
Description=session
Documentation=man:systemd.special(7)

[Service]
Type=dbus
BusName=cn.kylinos.session
ExecStart=/usr/bin/sessionserver
PrivateTmp=yes

[Install]
WantedBy=graphical.target
