[Unit]
Description=peripherals-touchpad
Documentation=man:systemd.special(7)

[Service]
Type=dbus
BusName=cn.kylinos.touchpad
ExecStart=/usr/lib/ukui-interface/touchpadserver
PrivateTmp=yes

[Install]
WantedBy=graphical.target
